body {
  padding: 20px 40px;
  background: #fff;
  color: #000;
}

h1, h4 { font-family: 'Droid Sans Mono', monospace; }

h1 {
  padding-bottom: 20px;
  font-weight: bold;
}

h4 { padding: 5px 0; }

ul { padding: 15px 0 0; }

li {
  display: inline;
  list-style: none;
}

a {
  color: #000 !important;
  font-size: 20px;
}

.nightmode {
  background: #000;
  color: #fff !important;
}

.fa-adjust {
  display: inline;
  font-size: 10px;
  cursor: pointer;
}

.fa-3x { padding: 10px; }

.fa-file-pdf-o:hover { color: #0260FB; }
.fa-envelope:hover { color: #da3838; }
.fa-github:hover { color: #333; }
.fa-linkedin:hover { color: #007bb6; }
.fa-facebook:hover { color: #3b5998; }
.fa-twitter:hover { color: #00aced; }
.fa-instagram:hover {
  background: linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-youtube:hover { color: #bb0000; }
.fa-tumblr:hover { color: #32506d; }
.fa-soundcloud:hover { color: #ff3a00; }

@media (max-width: 40em) {
  h1 { font-size: 24px; }
  h4, a { font-size: 15px; }
  .fa-adjust { font-size: 8px; }
}
